<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itlyc.mapper.LogMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into tb_log
        (user_id, type, log_time, place, equipment)
        values
        (#{userId}, #{type}, #{logTime}, #{place}, #{equipment})
    </insert>

    <select id="findTodayCountByType" resultType="java.lang.Integer">
        select count(distinct user_id) from tb_log
        where log_time = #{today} and type = #{type}
    </select>

    <select id="findTodayActiveCount" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT user_id) FROM tb_log WHERE log_time = #{today}
    </select>

    <select id="findRetention1DayCount" resultType="java.lang.Integer">
        select count(distinct user_id) from tb_log where log_time = #{today}
            and user_id in (SELECT user_id FROM tb_log WHERE log_time = #{yesterday} AND TYPE = '0102')
    </select>
</mapper>
